@font-face {
  font-family: "poppins-regular";
  src: url("/assets/font/poppins-regular.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("/assets/font/poppins-light.ttf");
}

body {
  margin: 0px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0px;
  padding: 0px;
}

.notification_header {
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 11111;
  width: 100%;
  top: 0;
  padding: 16px 20px;
  background: linear-gradient(244.56deg, #f5fde9 -43.27%, #e9f4f2 113.6%);
}

.notification_header a img {
  width: 100%;
}

.notification_header h4 {
  width: 98%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-family: "poppins-regular";
  color: black;
  line-height: 24px;
}

.notification_header h4 span {
  display: inline-block;
  background: #088983;
  width: 16px;
  height: 15px;
  border-radius: 100%;
  line-height: 1.5;
  font-size: 10px;
  font-family: "poppins-regular";
  color: white;
}

/*********notification -body*****/
.notification_body {
  margin-top: 60px;
  padding: 0px 35px;
}

.notification_body .notification_items {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  border-bottom: 1px solid rgba(14, 16, 16, 0.1);
  padding-bottom: 30px;
  padding-left: 10px;
}

.notification_body .notification_items img {
  width: 7px;
  height: 7px;
}

.notification_body .notification_items .notification_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.notification_body .notification_items .notification_title:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #088983;
  border-radius: 100%;
  left: -20px;
}

.notification_body .notification_items .notification_title h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  font-family: "poppins-regular";
  color: black;
  line-height: 22px;
}

.notification_body .notification_items .notification_title span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  font-family: "poppins-regular";
  color: #a1afae;
  line-height: 18px;
}

.notification_body .notification_items p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  font-family: "poppins-light";
  color: #546362;
  line-height: 22px;
  padding-top: 12px;
  padding-bottom: 20px;
  width: 92%;
}

.notification_body .notification_items a.notification_btn {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  font-family: "poppins-regular";
  color: #088983;
  line-height: 22px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 6px;
  padding: 8px 120px;
  width: fit-content;
}

@media only screen and (max-width: 767px) {
  .notification_body .notification_items a.notification_btn {
    padding: 5px 50px;
    width: auto;
    text-align: center;
  }
}
/*# sourceMappingURL=notification.css.map */