@font-face {
  font-family: "poppins-regular";
  src: url("/assets/font/poppins-regular.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("/assets/font/poppins-light.ttf");
}

body {
  margin: 0px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
  margin: 0px;
  padding: 0px;
}

@mixin messaging-style($color, $font-size, $line-height, $weight, $font-stack) {
  font: {
    style: normal;
    weight: $weight;
    size: $font-size;
    family: $font-stack;
  }
  color: $color;
  line-height: $line-height;
}
// notification -header

$header-background: linear-gradient(
  244.56deg,
  rgb(245, 253, 233) -43.27%,
  rgb(233, 244, 242) 113.6%
);
.notification_header {
  display: flex;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index: 11111;
  width: 100%;
  top: 0;
  padding: 16px 20px;
  background: $header-background;
  a img {
    width: 100%;
  }
  h4 {
    width: 98%;
    @include messaging-style(black, 16px, 24px, bold, "poppins-regular");
    span {
      display: inline-block;
      background: #088983;
      width: 16px;
      height: 15px;
      border-radius: 100%;
      line-height: 1.5;
      font-size: 10px;
      font-family: "poppins-regular";
      color: white;
    }
  }
}
/*********notification -body*****/

.notification_body {
  margin-top: 60px;
  padding: 0px 35px;

  .notification_items {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-bottom: 1px solid rgba(14, 16, 16, 0.1);
    padding-bottom: 30px;
    padding-left: 10px;
    img {
      width: 7px;
      height: 7px;
    }
    .notification_title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        background: #088983;
        border-radius: 100%;
        left: -20px;
      }

      h5 {
        @include messaging-style(black, 14px, 22px, bold, "poppins-regular");
      }
      span {
        @include messaging-style(
          #a1afae,
          12px,
          18px,
          normal,
          "poppins-regular"
        );
      }
    }
    p {
      @include messaging-style(#546362, 13px, 22px, 400, "poppins-light");
      padding-top: 12px;
      padding-bottom: 20px;
      width: 92%;
    }
    a.notification_btn {
      @include messaging-style(#088983, 14px, 22px, normal, "poppins-regular");
      border: 1px solid;
      text-decoration: none;
      border-radius: 6px;
      padding: 8px 120px;
      width: fit-content;
    }
  }
}
@media only screen and (max-width: 767px) {
  .notification_body .notification_items a.notification_btn {
    padding: 5px 50px;
    width: auto;
    text-align: center;
  }
}
